.cam {
  z-index: -100;
  position: absolute;
  top: 60px;
}

.container.custom-container {
  padding: 0;
  margin: 0;
  top: 60px;
  z-index: 100;
}
.ascene {
  z-index: 0;
}

.orientation {
  color: beige;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 60px;
  vertical-align: middle;
  z-index: 200;
  position: absolute;
}
.center {
  z-index: 300;
  height: 100vh;
  top: 40vh;
  max-height: 60vh;
}

.my-flex-container {
  background: rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.my-flex-item {
  background-color: transparent;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  
}

.dynamicFont {
  color: beige;
}
.ui-time {
  margin-top: 8px;
  margin-left: 10vw;
  color: white;
}
.ui-score {
  margin-top: 8px;
  margin-right: 10vw;
  color: white;
}
