.webcamContainer {
  background-color: grey;
}
webcam {
  background-color: black;
}
// @media(orientation:landscape){
//     webcam{
//         background-color: green;
//     }
// }
a-scene {
  position: fixed;
  top: 60px;
}
