<!-- Orientation Message -->
<div class="orientation text-center fixed-top" *ngIf=landscape>
  <h5> landscape mode is not supported.</h5>
  <h6>please rotate your device</h6>
</div>
<agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [streetViewControl]="false" [zoomControl]="false"
  [ngStyle]="{'width': screenWidth+'px', 'height': screenHeight+'px'}">
  <agm-direction [origin]="origin" [destination]="destination" [travelMode]="travelMode"></agm-direction>
  <div *ngFor="let marker of markers; ">
    <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [iconUrl]="iconUrl"></agm-marker>
  </div>
</agm-map>