<div class="jumbotron color-theme">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">

        <img class="img-fluid" style="height:142;width:421px" src="../../Pathfinder/assets/images/pathfinder-logo.png">
        <img class="img-fluid" src="../../Pathfinder/assets/images/MuC2019.png">
        <h3>Register your player</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username" class="color-theme">Playername</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && !!f.username.errors" class="alert alert-danger">
              <div *ngIf="!!f.username.errors.required">Playername is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="color-theme">Password</label>
            <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
            <div *ngIf="submitted && !!f.password.errors" class="alert alert-danger">
              <div *ngIf="!!f.password.errors.required"> Password is required. </div>
              <div *ngIf="!!f.password.errors.minlength"> Must contain at least 8 or more characters.</div>
            </div>
          </div>

          <div class="form-group">
              <label for="confirmPassword" class="color-theme">Confirm Password</label>
            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
            <div *ngIf="submitted && !!f.confirmPassword.errors" class="alert alert-danger">
              <div *ngIf="!!f.confirmPassword.errors.required"> Confirm password is required. </div>
              <div *ngIf="!!f.confirmPassword.errors.mustMatch"> Password & Confirm Password does not match.</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-login" [routerLink]="['/login']" routerLinkActive="router-link-active">Return to Login</button>
            <button [disabled]="loading" class="btn btn-primary btn-register">Register Player</button>
            <img *ngIf="loading" class="pl-2"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
</div>
