.color-theme{
  color: white;
  background-color: black;
}

.form-btn {
  width:40%
}

.btn-register {
  float: right;
}
.h-divider{
  margin-top:2vh;
  height:1px;
  width:100%;
  border-top:1px solid gray;
 }