<div class="col-12 colortheme footer fixed-bottom">
  <div class="col-6 left-footer text-left">
    <p>
        <a style="color: #156EB0" href="https://muc2019.mensch-und-computer.de/" target="_top">MuC 2019 Hamburg</a>
    </p>
  </div>
  <div class="col-6 right-footer text-right">
      <button mat-button style="color: #156EB0; background-color: black;border-color: black"
      [matMenuTriggerFor]="menu"
      (click)="updateScore()">#{{position}} {{username}}: {{userScore}} Pts</button>
      <mat-menu #menu="matMenu">
        <app-score-detail-view [scoreList]="scoreList$ | async"></app-score-detail-view>
      </mat-menu>
  </div>
</div>