.colortheme {
  background-color: black;
  color: white;
}
.footer {
  height: 30px;
  padding: 0;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}

.blue {
  color: #156eb0;
}
.white {
  color: white;
}
.hor-space {
  margin-left: 5px;
  margin-right: 20px;
}
.thick {
  font-weight: bold;
  text-transform: uppercase;
}
.scoreButton {
  background-color: black;
  border-color: black;
}
.opa {
  opacity: 0.9;
  padding-left: 10vw;
  padding-right: 10vw;
}
.table td,
th,
thead,
tbody {
  border: 2px solid black;
  text-align: center;
}
table.table-bordered > thead > tr > th,
td {
  border: 2px solid black;
}
