.colortheme {
  background-color: black;
  color: white;
}
.footer {
  height: 30px;
  padding: 0;
}
p {
  margin: 0;
  background-color: black;
}
a:link {
  color:white;
}
a:visited{
  color: white;
}

.left-footer {
  float: left;
}

.right-footer {
  float: right;
}
