.colortheme {
  background-color: black;
  color: white;
}
.footer {
  height: 30px;
  padding: 0;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}

.blue {
  color: #156eb0;
}
.white {
  color: white;
}
.hor-space {
  margin-left: 20px;
  margin-right: 20px;
}
.thick {
  font-weight: bold;
  text-transform: uppercase;
}
.scoreButton {
  background-color: black;
  border-color: black;
}
.opa {
  opacity: 1;
  padding-left: 10vw;
  padding-right: 10vw;
}
.table td,
th,
thead,
tbody {
  color: white;
  background-color: black;
  border: 2px solid #156eb0;
  text-align: center;
  opacity: 0.7;
  
}
table.table-bordered > thead > tr > th,
td {
  color:white;
  background-color: black;
  border: 2px solid #156eb0;
  opacity: 0.7;
}
.no-pad{
  padding: 0;
}
