<div class="jumbotron color-theme">
  <div class="container">
    <div class="row return">
      <div class="col-6 offset-3">

        <img class="img-fluid" style="height:142;width:421px" src="../../Pathfinder/assets/images/pathfinder-logo.png">
        <img class="img-fluid" src="../../Pathfinder/assets/images/MuC2019.png">
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="success-text"> Your Playername is : Playername</div>
        <div class="success-text" > Your password is : Password</div>
        <button class="btn btn-primary btn-return" [routerLink]="['/login']" routerLinkActive="router-link-active" >Return to Login</button>
      </div>
    </div>
  </div>
</div>
