.color-theme{
  color: white;
  background-color: black;
}

.btn-return {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 20%;
}

.return {
  margin-top: 40%;
}

.success-text {
  text-align: center;
}
p{
  color: white;
}
h1{
  color: white;
}
