.color-theme {
  background-color: black;
  height: 60px;
  margin: 0;
}
.white-icon {
  color: white;
}
.red-icon {
  color: crimson;
}
.img-haw {
  width: 122px;
  height: 29px;
  padding:0;
}
.img-muc {
  margin: 2px;
  padding:0;
  width: 141px;
  height: 48px;
}
.my-container {
  margin: 0 auto;
  width: 100vw;
}
.no-pad{
  padding:0;
}
.right-pad{
  padding-right: 5px;
  padding-left: 0px;
}
