<div class="my-container">
<div class="color-theme row justify-content-around align align-items-center">
    <div class="col-7 no-pad">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon class="white-icon">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item onclick="">
          <mat-icon>map</mat-icon>
          <span>Map</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <img class="img-fluid img-muc" src="../../Pathfinder/assets/images/MuC2019.png" />
    </div>
    <div class="col-5 text-right right-pad">
      <img class="img-fluid img-haw" src="../../Pathfinder/assets/images/haw-logo.png" />
    </div>
  </div>
</div>
