.color-theme{
  background-color: black;
}
.white-icon {
  color: white;
}
.img-haw{
  width: 122px;
  height: 29px; 
}
.img-muc{
  margin:2px;
  width:141px;
  height:48px;
}
.my-container{
  margin: 0 auto;
  width: 100%;
}