<div class="my-container">
  <div class="color-theme row justify-content-around align align-items-center fixed-top">
    <div class="col-5 no-pad">
      <a target="_blank" rel="noopener noreferrer" href="https://muc2019.mensch-und-computer.de/">
        <img class="img-fluid img-muc" src="../../assets/images/MuC2019.png" />
      </a>
    </div>
    <div class="col-2 text-center">
      <button *ngIf="isMapsActive" mat-icon-button aria-label="Example icon-button with a menu" (click)="switchView()">
        <mat-icon class="white-icon">map</mat-icon>
      </button>
      <button *ngIf="!isMapsActive" mat-icon-button aria-label="Example icon-button with a menu" (click)="switchView()">
        <mat-icon class="red-icon">videocam</mat-icon>
      </button>
    </div>
    <div class="col-5 text-right right-pad">
      <a target="_blank" rel="noopener noreferrer" href="https://www.haw-hamburg.de/">
        <img class="img-fluid img-haw" src="../../assets/images/haw-logo.png" />
      </a>
    </div>
  </div>
</div>